<h1>Your Cart</h1>

<ul>
  <% viewData.books.forEach(book => { %>
    <li id="innerBooks">
      <ul>
        <li><span class="bold-text">Title:</span> <%= book.title %></li>
        <li><span class="bold-text">Author:</span> <%= book.author %></li>
        <li><span class="bold-text">Quantity:</span> <%= book.Quantity %></li>
        <li><span class="bold-text">Price:</span> <%= book.BookPrice %> SEK</li>
        <li><span class="bold-text">Total:</span> <%= book.TotalPricePerBook %> SEK</li>
      </ul>
    </li>
  <% }) %>
</ul>
<div>
  <div class="bold-text">Total:</div>
  <%= viewData.books[0] ? viewData.books[0].Total : 0 %> SEK
</div>
<form method="post" action="books/checkOut">
  <button>Proceed to CheckOut</button>
</form>