<h1>Search Results</h1>


<ul>
  <% viewData.books.forEach(book => { %>
    <ul id="innerBooks">
      <li><span class="bold-text">Title:</span> <%= book.title %></li>
      <li><span class="bold-text">Author:</span> <%= book.author %></li>
      <li><span class="bold-text">Price:</span> <%= book.price %> SEK</li>
      <form method="post" action="books/cart">
        <input type="hidden" name="isbn" value="<%= book.isbn %>">
        <input type="hidden" name="redirectUrl" value="<%= viewData.currentUrl %>">
        <button>Add To Cart</button>
      </form>
    </ul>
  <% }) %>
</ul>

  <% if (viewData.currentPage > 1) { %>
    <a href="/books/search?searchCriteria=<%=viewData.searchCriteria%>&searchInput=<%=viewData.searchInput%>&page=<%=viewData.currentPage - 1%>">Prev</a>
  <% } %>
  <% if (viewData.currentPage < viewData.pages) { %>
    <a href="/books/search?searchCriteria=<%=viewData.searchCriteria%>&searchInput=<%=viewData.searchInput%>&page=<%=viewData.currentPage + 1%>">Next</a>
  <% } %>
  <div class="paging">Page <%=viewData.currentPage%> of <%=viewData.pages%></div>