
<ul id="outerBooks">
  <% viewData.books.forEach(book => { %>
    <li id="innerBooks">
      <strong>Title:</strong> <%= book.title %><br>
      <strong>Author:</strong> <%= book.author %><br>
      <strong>Price:</strong> <%= book.price %> SEK
      <form method="post" action="books/cart">
        <input type="hidden" name="isbn" value="<%= book.isbn %>">
        <input type="hidden" name="redirectUrl" value="<%= viewData.currentUrl %>">
        <button>Add To Cart</button>
      </form>
    </li>
  <% }) %>
</ul>

<div id="paging">
  <div>Page:</div>
  <div>
    <% for (let i=1; i <=viewData.pages; i++) {%>
      <a href="/books/subject/<%=viewData.subject%>/<%= i %>">
        <%= i %>
      </a>
      <% } %>
  </div>
</div>